
#main .main-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
h2{
  font-weight: bold;
  text-align: center;
}
.menu-card{
  background-color:antiquewhite;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0, 0, 0,1)  ;
  transition: transform 0.3s box-shadow 0.3s;
  cursor:pointer

}
.menu-card :hover{
  transform: translateY(-10px);
  box-shadow: 0 10px 20px 3s ;


}
.menu-card img{
  border-radius: 10px;
  height: 100px;
  width: 100%;
  object-fit: cover;
}
.menu-card .card-content{
  text-align: center;

}