#Services .service-container{
  display: flex;
  justify-content: center;
  gap: 30px ;

}
#services,h1{
  justify-content: center;
  text-align: center;
  background-color: white;
  
}


.service-card{
  padding: 30px 20px;
  border-radius: 15px;
  width: 250px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  transition: 0.5s, 0.5s;
  background-color: antiquewhite;
}


.service-card:hover{
  transform: translate(10px);
  box-shadow: 0 10, 20 rgba(0,0,0,0.2);
}

