/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */
.header {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  top: 0;
  left: 0;
  padding: 15px 25px;
  z-index: 1000;
  background: rgb(241, 237, 237);
}
.logo {
  font-size: bold;
  font-weight: 500;
}
.nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
.nav ul li a {
  text-decoration: none;
  color: brown;
}
.nav ul li a:hover {
  color: orange;
}

/* home section */
#home {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1579027989536-b7b1f875659b?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
  justify-content: center;
}
h1 {
  color: aliceblue;
  font-size: bold;
  font-weight: 500;
}

#Services .service-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
#services,
h1 {
  justify-content: center;
  text-align: center;
  background-color: white;
}

.service-card {
  padding: 30px 20px;
  border-radius: 15px;
  width: 250px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s, 0.5s;
  background-color: antiquewhite;
}

.service-card:hover {
  transform: translate(10px);
  box-shadow: 0 10, 20 rgba(0, 0, 0, 0.2);
}
