#services .service-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
}
.service-card{
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 15px;
    width: 250px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-card:hover{
    transform: translate(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
